:root {
    --color-primary: #FB853C;
    /* --color-secondary: #e5edf5c7;
    --color-tertiary: #e4e6e8;
    --color-soft : #e0ecf8;
    --color-hover : #f4f4f4;
    --color-font: #000;
    --color-font-fade : #3d3c3c80; */
}